@charset "utf-8";
.about-me {
    margin: 32px 0;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    &__box {
        width: 49.138%;
        padding: 88px;
        background-color: $gold-color;
        position: relative;
        overflow: hidden;
        box-sizing: border-box;
        &:first-of-type {
            margin-right: 32px;
        }
        h2 {
            margin: 0;
            display: inline-block;
            font-size: 2.625rem;
            text-transform: uppercase;
        }
        ul {
            margin: 32px 0 0 0;
            li {
                width: 50%;
                display: -webkit-flex;
                display: -moz-box;
                display: -ms-flexbox;
                display: flex;
                cursor: default;
                z-index: 10;
                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }
    &__box--skill {
        background-image: url(../images/description_moon_small.png);
        background-repeat: no-repeat;
        background-position: 0 0;
        background-size: auto auto;
        &__ico {
            display: -webkit-flex;
            display: -moz-box;
            display: -ms-flexbox;
            display: flex;
            @include prefix((flex-wrap: wrap), webkit ms);
            li {
                margin-bottom: 16px;
                @include prefix((align-items: center), webkit moz);
                &::before {
                    content: '';
                    min-width: 32px;
                    min-height: 32px;
                    margin-right: 12px;
                    display: inline-block;
                    background: url(../images/sprites.png) no-repeat;
                }
                @include skill-ico;
                &:hover {
                    color: $cream-color;
                    text-decoration: underline;
                    @include ico-hover;
                }
            }
        }
        &__circle {
            height: 500px;
            @include spin(-230px, -10px);
        }
    }
    &__box--info {
        background-image: url(../images/follow_bg.png);
        background-position: 50%;
        &__title {
            text-align: center;
            .date {
                font-size: 1rem;
            }
        }
        &__ico {
            li {
                margin-bottom: 40px;
                a {
                    line-height: 32px;
                    color: $blue-color;
                    z-index: 10;
                    &::before {
                        content: '';
                        min-width: 32px;
                        min-height: 32px;
                        margin-right: 12px;
                        display: inline-block;
                        background: url(../images/sprites.png) no-repeat;
                        vertical-align: top;
                    }
                }
                @include info-ico;
                a:hover {
                    color: $cream-color;
                    text-decoration: underline;
                    @include ico-hover;                    
                }
            }
        }
        &__circle {
            height: 637px;
            @include spin(-230px, 80px);
        }
    }
    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}

@media screen and (max-width: 64.06rem) {
    .about-me {
        display: block;
        &__box {
            width: 100%;
            &:first-of-type {
                margin: 0 0 32px 0;
            }
        }
    }
}