@charset "utf-8";
header {
    padding: 56px 0;
    text-align: center;
    background: url(../images/main_banner_bg.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    img {
        max-width: 193px;
        max-height: 198px;
    }
    h1 {
        margin: 38px 0 64px;
        font-size: 22px;
        line-height: 32px;
        color: $gold-color;
    }
    a {
        padding: 12px 22px;
        font-size: 16px;
        color: $blue-color;
        background-color: $cream-color;
        border-radius: 100px;
        transition: all 0.1s;
        &:hover {
            background-color: $gold-color;
        }
    }
}