@charset "utf-8";
footer {
    margin-top: 32px;
    padding: 32px;
    text-align: center;
    color: $cream-color;
    background: url(../images/bg_star_chart.jpg) no-repeat;
    background-size: cover;
}